/* Google Fonts embed code */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@500&family=Secular+One&display=swap');

/* body/#game-area main background for all games */

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: royalblue;
    background-image: url('../../assets/images/flag-triangles.png');
    background-size: cover;
    background-position: center;
}

#game-area {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 1rem;
    text-align: center;
    box-shadow: 3px 3px #cdd2d4;
}

/* h1 page title/logo */

h1 {
    font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
}

p {
    margin: 0.5rem;
}

/*the 'what x is this?' question*/

#question-intro {
    font-style: italic;
    margin-top: 2rem;
}

/*area for the question word chosen and displayed by the js*/

#question-text {
    font-family: 'Secular One', 'Times New Roman', Times, serif;
    font-size: 2rem;
}

/* multiple choice buttons in easy mode */

.answer-button {
    background-color: #EF6565;
    width: 7rem;
    height: 5rem;
    border-radius: 5%;
    border: 1px solid black;
    margin: 0.2rem;
    padding: 0;
    font-size: 1.2rem;
    font-family: 'Secular One', 'Times New Roman', Times, serif;
    text-align: center;
    color: #000;
}

#first-two-buttons, #second-two-buttons {
    display: inline-block;
}

/*text box for user to type in their answer on hard mode. 
setting font size of over 1rem appears to stop phone browsers zooming in on the text box */

#user-answer {
    font-size: 1.1rem;
    max-width: 75%;
}

/* buttons at bottom of game-area to select/move around the games */

 #nav-buttons {
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
 }

 .nav-button {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #c7d8ff;
    margin: 0.25rem;
    padding: 0.25rem;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 45%;
    display: inline-block;
 }

 a {
    text-decoration: none;
    color: #000
 }

 /* section displaying info to the user to tell them which game they're on*/

 #game-info { 
    text-align: left;
    font-family: 'Secular One', 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
    margin-top: 0;
 }


#score-area {
    margin-top: 2rem;
}

 #score-area p {
    font-family: 'Secular One', 'Times New Roman', Times, serif; 
 }

@media screen and (min-width: 1000px) {
    
#game-area {
        width: 50%;
    }   

 }

@media (pointer: fine) {

.answer-button:hover {
    background-color: #c7d8ff;
    }

}